<div class="container-">
    <header class="heading">
        <h1>Intelly Quotes</h1>
    </header>
    <div class="check-form">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <div class="row">
        <div class="col-6">
            <h3 class="head1"> Recent added quotes</h3>
        <div class="border-line">
            <ul>
                <div *ngFor = 'let quote of quotes; let i= index'>
                <li >{{quote.quoteOffer}}</li>
                    <button class="btn btn-primary" (click)='toggleDetails(i)'>Details</button>
                    <app-quote-detail *ngIf='quote.showDetail' [quote]='quote'></app-quote-detail>
            </div>
            </ul>
        </div>
        </div>
        <div class="col-6">
            <h3 class="head2">Highest voted quotes</h3>
            <div class="border-line2">
                <ul>
                <li *ngFor = 'let quote of quotes'>
                    {{quote.name}}            
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>

