<p>
    {{quote.name}}
  </p>
  <div>
    
    <button class="xyz" href (click)= 'quoteDelete(true)'>
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
      <div class="label">
        Votes:
      </div>
  </div>
  <div>
  
    <ul>
      <li class="item">
        <a href (click)="upVote()">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </a>
      </li>
      <div class="value">
        {{ upDownVotes }}
      </div> 
      <li class="item">
        <a href (click)="downVote()">
          <i class="fa fa-thumbs-down" aria-hidden="true"></i>
        </a>
      </li>
      <div class="value">
        {{ downUpVotes }}
      </div>
    </ul>
  </div>