<form (ngSubmit)="submitQuote()" #quoteForm='ngForm' >
    <div class="form-group">
        <label for="authorName">Name</label>
        <input required ngModel name="authorName.name" #authorName="ngModel" type="text" id="authorName" text="" class="form-control">
      
        <div class="alert alert-danger" *ngIf="authorName.touched && !authorName.valid">Author's name is required!</div>
    </div>
    <div class="form-group">
        <label for="quote">Quote</label>
        <textarea required ngModel name="quote.quoteOffer" #quoteOffer="ngModel" id="quote" rows="2" class="form-control"></textarea>
    </div>
  <button class="btn btn-primary">Quote</button> 
</form>

